@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  background-color: rgb(226, 229, 235);
}

* {
  box-sizing: border-box;
}
